Source: ros-jade-force-torque-sensor-calib
Section: misc
Priority: extra
Maintainer: Francisco Vina <fevb@kth.se>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-cmake-modules, ros-jade-eigen-conversions, ros-jade-geometry-msgs, ros-jade-moveit-core, ros-jade-moveit-ros-planning, ros-jade-moveit-ros-planning-interface, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-tf, ros-jade-tf-conversions
Homepage: http://wiki.ros.org/force_torque_sensor_calib
Standards-Version: 3.9.2

Package: ros-jade-force-torque-sensor-calib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-jade-cmake-modules, ros-jade-eigen-conversions, ros-jade-geometry-msgs, ros-jade-moveit-core, ros-jade-moveit-ros-planning, ros-jade-moveit-ros-planning-interface, ros-jade-roscpp, ros-jade-sensor-msgs, ros-jade-tf, ros-jade-tf-conversions
Description: Calibrates the offsets of F/T sensors and the mass and position of the COM of gripper attached to the F/T sensor. Uses readings from an accelerometer that has been calibrated to the robot frame.
